<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>hyunsikki-web</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>hyunsikki-web</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/conf/spring/applicationContext*.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:/conf/log/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>webApplication</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/conf/spring/webApplication-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>webApplication</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- UTF-8 설정 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  Spring Security Fliter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--  Spring Security Fliter -->
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>302</error-code>
		<location>/error/error302.html</location>
	</error-page>
    <error-page>
		<error-code>304</error-code>
		<location>/error/error304.html</location>
	</error-page>
    <error-page>
		<error-code>400</error-code>
		<location>/error/error400.html</location>
	</error-page>
    <error-page>
		<error-code>401</error-code>
		<location>/error/error401.html</location>
	</error-page>
    <error-page>
		<error-code>403</error-code>
		<location>/error/error403.html</location>
	</error-page>
    <error-page>
		<error-code>404</error-code>
		<location>/error/error404.html</location>
	</error-page>
    <error-page>
		<error-code>405</error-code>
		<location>/error/error405.html</location>
	</error-page>
    <error-page>
		<error-code>408</error-code>
		<location>/error/error408.html</location>
	</error-page>
    <error-page>
		<error-code>411</error-code>
		<location>/error/error411.html</location>
	</error-page>
    <error-page>
		<error-code>413</error-code>
		<location>/error/error413.html</location>
	</error-page>
    <error-page>
		<error-code>414</error-code>
		<location>/error/error414.html</location>
	</error-page>
    <error-page>
		<error-code>416</error-code>
		<location>/error/error416.html</location>
	</error-page>
    <error-page>
		<error-code>500</error-code>
		<location>/error/error500.html</location>
	</error-page>
    <error-page>
		<error-code>501</error-code>
		<location>/error/error501.html</location>
	</error-page>    
    <error-page>
		<error-code>503</error-code>
		<location>/error/error503.html</location>
	</error-page>
</web-app>