<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunsikki.apps.ui.front.mapper.UserMapper">
	
	<select id="getUserList" resultType="com.hyunsikki.apps.ui.front.model.User">
		SELECT * FROM t_user
	</select>
	
</mapper>